.box{
    height: 550px;
    width: 450px;
    background-image: url("https://img.freepik.com/free-photo/vertical-view-two-kraft-spiral-notebook-with-pen-ice-background_140725-141448.jpg?w=2000");
    background-size: cover ;
    font-size: 20px;
    
}
h3{
    line-height: 5px;
}
button{
    background-color: rgb(186, 110, 38);
    margin-left: 40%;  
    font-size: 22px;
    padding: 10px ;
    width: 80px;
    color: white;
    border-color: aliceblue;

}
a{
    font-size: 14px;
    color: black;
    margin-left: 35%;
}